<IfModule mod_rewrite.c>
    RewriteEngine On
    # Forward all requests into the /public directory
    RewriteRule ^$ public/ [L]
    RewriteRule (.*) public/$1 [L]
</IfModule>

# Deny direct access to sensitive configuration files
<FilesMatch "^\.env">
    Order allow,deny
    Deny from all
</FilesMatch>
